body{
    margin: 0;
    background-image: url("images/1background3.jpeg");
    background-position:center ;
    background-repeat: repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10% ;
   
}

 .card{
    width: 100%;
    max-width: 400px;
    background-color: rgb(103, 9, 9);
    padding: 7%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.5); /*horizontal, vertical, blur radius, color, opacity 0.2*/
    font-size:x-large;
    font-weight:600;
    font-family: 'Pixelify Sans' ;
    color: rgb(224, 244, 134);
} 

#thumbnail{
    display: none;
}
button.yesButton{
    margin: 10px 15px;
    padding: 10px 20px;
    font-family: 'Pixelify Sans' ;
    font-weight: bold;
    font-size: 16px;
    color: rgb(86, 4, 4);
    border-color: rgb(113, 3, 3);
    border-radius: 10px;
    background-color: rgb(212, 209, 106);
    cursor:grab;
    transition: 0.3s;
}

.Buttonspace{
    display: flex;
    justify-content: center;
    gap:5%;
}

button:hover{
    background-color:rgb(239, 239, 194);
}

#roseImage{
  display: none;
  width: 80%;
  max-width: 300px;
  margin: 20px auto 0 auto;
  max-height: 60vh;
  object-fit: contain;
}

#roseMessage{
  display: none;
  text-align: center;
  margin-top: 15px;        
  font-size: 20px;  
}



